.main-content{
    text-align: Left;
    margin-top: 80px;
    width: 600px;
}

h4 {
    margin-top: 50px;
}
pre {
    border: 0px;
}
h1,h4,pre,p{
    font-family: sans-serif;
    width: 600px;
}
pre{
    text-align: left;
}
img{
    max-width: 600px;
}