{% extends 'blog/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

    <h1>Welcome to my blog!</h1>

    {% for article in articles %}

        <h4><a href="{% url 'article' article.id %}"> {{ article.title }}</a></h4>
        <p>{{ article.release_date}}</p>
        <pre>{{ article.get_short_text}}</pre>

    {% endfor %}

{% endblock %}